<!-- templates/post_new.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form class=""  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-info" type="submit" name="" value="Save">
</form>
{% endblock content %}



<!-- Then to output our form data we use {{ form.as_p }} which renders it
within paragraph <p> tags.
If we use crispy forms by replacing {{form.as_p}} with {{form|crispy}} it will give nice structured fields/bootstrap fields  
-->
